/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #main-container {
    color: white;
    padding-top: 5%;
    height: 100%;
    background-color: rgb(0, 0, 90);
  }

  #text {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    padding-bottom: 5%;
  }

  .button-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    height: 150px;
  }

  .button {
    width: 15%;
    height: 100%;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 2%;
  }

/* colors */

  #green {
    background-color: green;
  }

  #red {
    background-color: red;
  }

  #yellow {
    background-color: yellow;
  }

  #blue {
    background-color: blue;
  }

  @media only screen and (max-width: 900px) {
    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .button {
      width: 30%;
      height: 100%;
      margin-top: 5%;
    }

    .button-subcontainer {
      height: 35%;
      width: 100%;
    }
  }